<div class="ToolBarContainer" >
    
    <button #menuButton class="ToolBarButton" type="button" style="margin-right: 5px;" (click)="this.sideNavService.Toggle()" >
        <i class="fa fa-bars" aria-hidden="true" ></i><span ></span>
    </button>
    <button #newButton class="ToolBarButton" type="button" style="margin-right: 5px;" disabled>
        <i class="fa fa-plus" aria-hidden="true"></i><span>NEW</span>
    </button>
    <button #saveButton class="ToolBarButton" type="button" style="margin-right: 5px;" disabled>
        <i class="fa fa-floppy-o" aria-hidden="true"></i><span>SAVE</span>
    </button>
    <button #deleteButton class="ToolBarButton" type="button" style="margin-right: 5px;" disabled>
        <i class="fa fa-trash-o" aria-hidden="true"></i><span>DELETE</span>
    </button>
    <button #executeButton class="ToolBarButton" type="button" style="margin-right: 5px;" disabled>
        <i class="fa fa-floppy-o" aria-hidden="true"></i><span>EXECUTE</span>
    </button>
    <button #retrieveButton class="ToolBarButton" type="button" style="margin-right: 5px;" disabled>
        <i class="fa fa-refresh" aria-hidden="true"></i><span>RETRIEVE</span>
    </button>
</div>


