<div class="ToolBarContainer" >
    
    <button id="menuButton" class="ToolBarButton" type="button" style="margin-right: 5px;" >
        <i class="fa fa-bars" aria-hidden="true"></i><span>MENU</span>
    </button>
    <button id="saveButton" class="ToolBarButton" type="button" style="margin-right: 5px;" disabled>
        <i class="fa fa-floppy-o" aria-hidden="true"></i><span>SAVE</span>
    </button>
    <button id="deleteButton" class="ToolBarButton" type="button" style="margin-right: 5px;" disabled>
        <i class="fa fa-trash-o" aria-hidden="true"></i><span>DELETE</span>
    </button>
    <button id="executeButton" class="ToolBarButton" type="button" style="margin-right: 5px;" disabled>
        <i class="fa fa-floppy-o" aria-hidden="true"></i><span>EXECUTE</span>
    </button>
    <button id="retrieveButton" class="ToolBarButton" type="button" style="margin-right: 5px;" disabled>
        <i class="fa fa-refresh" aria-hidden="true"></i><span>RETRIEVE</span>
    </button>
</div>


