<div style="padding:15px;background-color:#dcdcdc;"> 
    <mat-expansion-panel *ngFor="let item of parentMenu">
      <mat-expansion-panel-header expandedHeight="40px" collapsedHeight="40px">
        {{item.ParentMenuLabel}}
      </mat-expansion-panel-header>
      <ul>
        <li *ngFor="let childMenu of item.MenuItems" (click)="SideMenuSelected(childMenu)">
          {{childMenu.ChildMenuLabel}}
        </li>
      </ul>
    </mat-expansion-panel>    
</div>
<!--<ul>
  <li class="parent" *ngFor="let item of parentMenu">
    {{item.ParentMenuLabel}}
    <ul>
      <li *ngFor="let childMenu of item.MenuItems">
        {{childMenu.ChildMenuLabel}}
      </li>
    </ul>
  </li>
</ul>-->
