
<div class='container-fluid'>
    <div class="row row-eq-height dropshadow" style="background-color:#00518D" >
        <div class="col-sm-9 col-lg-9 col-xs-9 " style="padding:5px 5px 5px 5px;align-content:center;">
            <!--<img id="main-img" style="padding: 2px 2px 2px 2px;float:left;margin:1px;" />-->   
            <picture class="dropshadow">
                <source media="(min-width: 900px)" srcset="/img/DELWP1.jpg">
                <source media="(min-width: 480px)" srcset="/img/DELWP_mobile.jpg">
                <img src="/img/DELWP1.jpg" alt="/img/DELWP1.jpg">
            </picture>
        </div> 
        <div class="col-sm-3 col-lg-3 col-xs-3" style="padding-right:20px;display: flex;align-items: center;justify-content: flex-end">
            <table border="0" valign="middle" align="right">
                <tr>
                    <td valign="middle" align="right"><i class="fa fa-arrows-alt" (click)="ToggleFullScreen($event)" matTooltip="Toggle FullScreen!" style="font-size:20px;color:white"></i></td>
                    <td valign="middle" align="right" style="padding-left:15px;"><i class="fa fa-user-circle-o" style="font-size:20px;color:white"></i></td>
                    <td valign="middle" align="right" nowrap="nowrap"><span nowrap="nowrap" style="padding-left:15px; float:right;font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:15px; color:white">Venkatesh Muniyandi</span></td>
                    <td valign="middle" align="right"><i class="fa fa-caret-down" aria-hidden="true" style="font-size:20px;color:white;padding-left:5px;"></i></td>
                </tr>
            </table>
            
        </div>         
    </div> 
    <div class='row'>
        
       <!-- <div class='col-sm-3'>          
            <nav-menu></nav-menu>
        </div>
        <div class='col-sm-9'>
            <button mat-mini-fab>
                <mat-icon aria-label="Example icon-button with a heart icon">save</mat-icon>
            </button>
            
        </div> -->
    </div>
</div>
