<div style="padding-left:30px">
  <br />
  <div class="card" style="width: 18rem;">

    <div class="card-body">
      <mat-checkbox #cansave [(ngModel)]="sideNavService.ToolBarOptions.CanSave">Can Save</mat-checkbox>
      <mat-checkbox #candelete [(ngModel)]="sideNavService.ToolBarOptions.CanDelete">Can Delete</mat-checkbox>
      <mat-checkbox #cansave [(ngModel)]="sideNavService.ToolBarOptions.CanNew">Can New</mat-checkbox>
      <mat-checkbox #cansave [(ngModel)]="sideNavService.ToolBarOptions.CanRetrieve">Can Retrieve</mat-checkbox>
      <mat-checkbox #cansave [(ngModel)]="sideNavService.ToolBarOptions.CanExecute">Can Execute</mat-checkbox>
    </div>
  </div>
</div>
